.sprite {
    background-image: url("../Textures/spritesheet.png");
    background-size: 220vw 220vh;
    scale: 1 0.70;
}

#controls {
    display: flex;
    flex-direction: row;
}

.control {
    padding: 3px;
    border: blue 1px solid;
    margin: 3px;
}

#test {
    background-position: 0% 0%;
    width: 0%;
    height: 0%;
}

#sprites {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.heart {
    width: 16%;
    height: 25%;
    background-position: 26% 2%;
}

.whale {
    width: 47%;
    height: 36%;
    background-position: 44.5% 0%;
}

.big-water {
    width: 12%;
    height: 12%;
    background-position: 60% 2%;
}

.small-water {
    width: 12%;
    height: 12%;
    background-position: 66% 2%;
}

.cloud {
    width: 34%;
    height: 36%;
    background-position: 86% 2%;
}

.seagull {
    width: 20%;
    height: 16%;
    background-position: 26% 28%;
}

.bitcoin {
    width: 12%;
    height: 13%;
    background-position: 52% 26%;
}

.bitcoin-broken {
    width: 12%;
    height: 20%;
    background-position: 67% 27%;
}

.land {
    width: 64%;
    height: 40%;
    background-position: 104% 54%;
}

.man-standing {
    width: 28%;
    height: 43%;
    background-position: 0% 54%;
}

.man-ducking {
    width: 28%;
    height: 43%;
    background-position: 57% 52%;
}

.man-jumping {
    width: 28%;
    height: 43%;
    background-position: 18% 56%;
}

.man-slashing {
    width: 38%;
    height: 43%;
    background-position: 35% 53%;
}

.waves-back {
    width: 100%;
    height: 50%;
    background-position: 4% 96%;
}

.waves-front {
    width: 100%;
    height: 45%;
    background-position: 97% 97%;
}
